nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 20px;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li a {
    display: block;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
}
.description {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.card {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.card h4 {
    text-align: center;
    margin: 10px 0 5px;
}
.card p {
    text-align: center;
    margin-bottom: 20px;
    color: #555
}
.container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: white;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use min-height to allow content to extend beyond the viewport height if needed */
    
}
.section2 {
    flex-grow: 1;
}
